config clatun
  option enabled '0'
  option ipv6 '0'
  option udp '0'
  option fwmark '162'

config device
  option iface 'br-lan'
  option mac '00:11:22:33:44:55'

config dns
  option enabled '0'
  option port '5353'

config bypass
  option type 'proto'
  option proto 'udp'
  option dst_port '123'

config bypass
  option type 'ipv4'
  list dst_addr '0.0.0.0/8'
  list dst_addr '10.0.0.0/8'
  list dst_addr '100.64.0.0/10'
  list dst_addr '127.0.0.0/8'
  list dst_addr '169.254.0.0/16'
  list dst_addr '172.16.0.0/12'
  list dst_addr '192.0.0.0/24'
  list dst_addr '192.0.2.0/24'
  list dst_addr '192.88.99.0/24'
  list dst_addr '192.168.0.0/16'
  list dst_addr '198.18.0.0/15'
  list dst_addr '198.51.100.0/24'
  list dst_addr '203.0.113.0/24'
  list dst_addr '224.0.0.0/4'
  list dst_addr '240.0.0.0/4'

config bypass
  option type 'ipv6'
  list dst_addr '::/128'
  list dst_addr '::1/128'
  list dst_addr '::ffff:0:0/96'
  list dst_addr '::ffff:0:0:0/96'
  list dst_addr '64:ff9b::/96'
  list dst_addr '64:ff9b:1::/48'
  list dst_addr '100::/64'
  list dst_addr '2001:0000::/32'
  list dst_addr '2001:20::/28'
  list dst_addr '2001:db8::/32'
  list dst_addr '2002::/16'
  list dst_addr 'fc00::/7'
  list dst_addr 'fe80::/10'
  list dst_addr 'ff00::/8'
